<div class="form-group" [formGroup]="form" [ngClass]="{'invalid': !isValid}">
	<label [attr.for]="input.id">{{input.label}}</label>

	<div [ngSwitch]="input.controlType">
        <div *ngSwitchCase="'textbox'">
    		<input class="form-control"  [formControlName]="input.id"
    			[id]="input.id" [type]="input.type">
        </div>

        <div *ngSwitchCase="'dropdown'">
            <select class="form-control" [id]="input.id"  [formControlName]="input.id">
                <option *ngFor="let opt of input.options" [value]="opt.id">{{opt.value}}</option>
            </select>
        </div>
	</div>

	<div class="alert alert-danger" *ngIf="!isValid">{{input.label}} is required</div>
</div>
